  <div class="main">
    <div class="main-inner">
      <div class="container">

<h1><a ui-sref="home">The KB</a></h1>
<div class="search">
  <div class="row-fluid">

    <div id="sidebar" class="span4">

      <div class="widget">
        <header class="widget-header">
          <a ui-sref="home"><i class="fa fa-search"></i>
          <h3>Return to KB Search</h3></a>
        </header> <!-- /widget-header -->
        <div class="widget-content">

          <div class='sfContentBlock'>
            <h4>
              <i class="fa fa-tags"></i> Commonly Used Tags
            </h4>
            <ul class="list-unstyled">
              <li><a href=""><span class="badge badge-info">payment</span></a></li>
              <li><a href=""><span class="badge badge-info">field day</span></a></li>
              <li><a href=""><span class="badge badge-info">video</span></a></li>
            </ul>
          </div>

        </div> <!-- /widget-content -->
      </div> <!-- /widget -->
    </div> <!-- /sidebar -->

    <div id="content" class="span8">
      <div class="full-post">

        <ol class="breadcrumb">
          <li>
            <a ui-sref="home">Issues</a>
          </li>
          <li class="active">Create</li>
        </ol>

        <form novalidate class="simple-form" ng-submit="processForm()">
        <!-- Form Name -->
        <legend>Create Article</legend>

        <!-- Select Basic -->
        <div class="input-group row-fluid">
          <label class="span2 control-label" for="selectbasic">Category</label>
          <div class="span6">
            <select ng-model="articleData.category" ng-options="category.name for category in categories" class="span6">
              <option value="">Choose Category</option>
            </select>
          </div>
        </div>

        <!-- Text input-->
        <div class="input-group row-fluid">
          <label class="span2 control-label" for="Title">Title</label>
          <div class="span6">
          <input id="Title" name="Title" type="text" placeholder="" class="form-control input-md" ng-model="articleData.title">

          </div>
        </div>

        <!-- Textarea -->
        <div class="input-group row-fluid">
          <label class="span2 control-label" for="textarea">Body</label>
          <div class="span6">
            <textarea id="textarea" name="textarea" ng-model="articleData.body"></textarea>
          </div>
        </div>

        <!-- Text input for Tags-->
        <div class="input-group row-fluid">
          <label class="span2 control-label" for="Title">Add Tags</label>
          <div class="span6">
          <input id="Title" name="Title" type="text" data-role="tagsinput" placeholder="Enter each tag here separated by a comma." class="form-control input-md" ng-model="articleData.tags">

          </div>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
        </form>

      </div>
    </div><!-- /content -->
  </div>

</div><!-- /search -->

      </div> <!-- /container -->
    </div> <!-- /main-inner -->
  </div> <!-- /main -->