<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <form ng-submit="save(post)" class="form-horizontal" novalidate>
      <legend>Edit Article</legend>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="selectbasic">Category</label>
        <div class="col-sm-10">
          <select ng-model="post.category_id" ng-options="category.id as category.name for category in categories" class="form-control">
            <option value="">Choose Category</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="Title">Title</label>
        <div class="col-sm-10">
          <input id="Title" name="Title" type="text" placeholder="" class="form-control" ng-model="post.title">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="Title">Tags</label>
        <div class="col-sm-10">
          <tags-input ng-model="post.tags" display-property="name" replace-spaces-with-dashes="false" on-tag-added="tagAdded($tag)" on-tag-removed="tagRemoved($tag)">
            <auto-complete source="tagSource()"></auto-complete>
          </tags-input>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="textarea">Body</label>
        <div class="col-sm-10">
          <textarea id="textarea" name="textarea" ng-model="post.body" class="form-control" rows="3"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Publish</button>
        </div>
      </div>
    </form>
  </div>
</div>
