<div class="row">
  <div class="col-sm-3">
    <p><i class="fa fa-archive"></i> Filed: {{post.category.name}}</p>
    <p><i class="fa fa-eye"></i> Viewed: 250</p>
    <ul class="list-inline">
      <li ng-repeat="(name, tag) in post.tags">
        <a><span class="label label-info">{{tag["name"]}}</span></a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    <h2>{{post.title}}</h2>
    <p>{{post.body}}</p>

    <div class="row">
      <div class="col-sm-12">
        <a href="#" class="btn btn-success btn-small"><i class="fa fa-thumbs-o-up"></i> I Approve This</a>
        <a href="#" class="btn btn-info btn-small"><i class="fa fa-history"></i> History</a>
        <a ui-sref="postsEdit({ id: post.id })" class="btn btn-primary btn-small"><i class="fa fa-pencil-square-o"></i> Edit</a>
        <a href="#" ng-click="destroy(post)" class="btn btn-danger btn-small"><i class="fa fa-trash-o"></i> Remove</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <em>Was this article helpful to you?</em>
        <a href="#" class="btn btn-default btn-small span2">Yes</a>
        <a href="#" class="btn btn-default btn-small span2">No</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-comment"></i> Notes</div>
      <div class="panel-body">
        <form id="new_note" method="post">
          <div class="form-group">
            <textarea id="note_note_text" name="note[note_text]"  class="form-control" rows="3"></textarea>
          </div>
          <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Note</button>
        </form>
      </div>
    </div>

  </div>
</div>
