  <div class="main">
    <div class="main-inner">
      <div class="container">

<h1><a ui-sref="home">The KB</a></h1>
<div class="search">
  <div class="row-fluid">

    <div id="sidebar" class="span4">

      <div class="widget">
        <header class="widget-header">
          <a ui-sref="home"><i class="fa fa-search"></i>
          <h3>Return to KB Search</h3></a>
        </header> <!-- /widget-header -->
        <div class="widget-content">
          <div class='sfContentBlock span12'>
            <h4>
              Similar Recommended Posts
            </h4>
            <ul class="list-unstyled">
              <li><a href="">Do I have to take a field day?</a></li>
              <li><a href="">Card Declined</a></li>
              <li><a href="">Video won't play?</a></li>
            </ul>
          </div>

        </div> <!-- /widget-content -->
      </div> <!-- /widget -->
    </div> <!-- /sidebar -->

    <div id="content" class="span8">
      <div class="full-post">
        <ol class="breadcrumb">
          <li>
            <a ui-sref="home">Issues</a>
          </li>
          <li class="active">Issue</li>
        </ol>
        <header>
          <h2>
            {{post.title}}
          </h2>
        </header>
        <p style=" text-indent: 1em;" align="justify">
          {{post.body}}
        </p>

          <p class="post-info">
              <em>By Jeremy Perez
               — August 18, 2014</em>
          </p>

          <p>
            <i class="fa fa-archive"></i> <b>Categoryy:</b> <em>{{post.category.name}}  </em>
          </p>
          <p>
            <i class="fa fa-eye"></i> <b>Times Viewed:</b> 250
          </p>
          <p>
            <i class="fa fa-tags"></i> Tags:
            <span class="badge badge-info" ng-repeat="(name, tag) in post.tags">{{tag["name"]}}</span>
          </p>

        <div class="row-fluid">
          <fieldset class="input-group span3">
            <a ui-sref="postsEdit({ id: post.id })" class="btn btn-info btn-small btn-block">Edit</a>
          </fieldset>
          <fieldset class="input-group span3">
            <a href="#" ng-click="remove(post)" class="btn btn-danger btn-small btn-block">Remove</a>
          </fieldset>
        </div>

      </div>
      <div>
        <h4 class="span9">Not what you were looking for? <a ui-sref="postsNew">Click here to add a article!</a></h4>
      </div>

      <section class="widget" id="notes">
        <header class="widget-header">
          <i class="fa fa-comment"></i>
          <h3>Notes</h3>
        </header>

        <div class="widget-content">
          <div class="row-fluid">
            <form accept-charset="UTF-8" action="http://kps.ke.local/certifications/536700/notes" class="new_note" id="new_note" method="post">
              <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <input name="authenticity_token" type="hidden" value="kDGw4jkT1jz1eIQZRPEcclp/s4Aeg9IGvx5uda9qbAA=" />
              </div>
              <textarea class="field" id="note_note_text" name="note[note_text]" rows="3"></textarea>
              <input id="note_certification_id" name="note[certification_id]" type="hidden" value="536700" />
              <button class="btn pull-right"><i class="fa fa-plus"></i> Add Note</button>
            </form>
          </div>
          <div class='empty-notes'>
            <p>No notes have been recorded for this record.</p>
          </div>
        </div>
      </section>

    </div><!-- /content -->
  </div>

</div><!-- /search -->

      </div> <!-- /container -->
    </div> <!-- /main-inner -->
  </div> <!-- /main -->